body
{
  color: white;
  background: rgb(23, 238, 8);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: rgb(89, 18, 241);
}
.gesture_name
{
  font-size: 42px;
}
.emoji
{
  font-size:50px;
}
.heading{
  font-size: 19px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label{
  font-size: 14px;
  color: #08f6f6;
  padding: 6px;
  border-radius: 10px;
  background-color: white;
}
